@page
@model LiveAuctionModel
@{
    
    ViewData["Title"] = "Live Auction";
}

@section headscripts {
<script type="text/javascript">
    var highestBid = 0;
    var yourCurrentBid = 0;
    var timer = window.setInterval(makeBid, 2000)
    window.onload = updateUI;


    function makeBid()
    {
        //alert("bid!");
        highestBid += 100;
        updateUI();
    }

    function incrementBid()
    {
        yourCurrentBid += 50;
        if(yourCurrentBid > highestBid)
        {
            highestBid = yourCurrentBid;
        }
        updateUI();
    }

    function updateUI()
    {
        document.getElementById("higestbidcontent").innerHTML = "Highest bid is: " + highestBid;
        document.getElementById("yourbid").innerHTML = "Your bid is: " + yourCurrentBid;

        if(yourCurrentBid >= highestBid && yourCurrentBid != 0)
        {
            document.getElementById("youwin").innerHTML = "You win!";
        }
        else
        {
            document.getElementById("youwin").innerHTML = "";
        }
    }

</script>
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
 <p>Item for sale: "Some thingy"</p>
 
<button onClick="incrementBid();">Increase bid by 50</button>

<div id="yourbid"></div>
<div id="higestbidcontent"></div>
<div id="youwin"></div>
