@page
@model LiveAuctionModel
@{
    ViewData["Title"] = "Live Auction";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
 <p>Item for sale: "Some thingy"</p>
 <p><em>YOU ARE THE HIGHEST BIDDER!</em></p>
<p>Make a higher bid if you want to win</p>;
<button onClick="incrementCounter();">hej</button>

 <h1>Auction - "Old Crap"</h1>

<div id="higestbidcontent">
    <p>Higest bid: <strong>{this.state.highestBid}</strong></p>
            <p>Your current bid: <strong>{this.state.yourCurrentBid}</strong></p>
</div>

@section scripts {
<script type="text/javascript">
    function incrementCounter()
    {
        
        alert("You clicked");
    }
</script>
}
