@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We are just bad people!</p>

<address>
    Hellerupvej 666<br />
    2900, København<br />
    <abbr title="Phone">P:</abbr>
    +45 5656 7878
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@contoso.com">Support@contoso.com</a><br />
    
</address>